﻿@model List<Category>


@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>

<form id="frmAddProduct">
    <div class="form-group">
        <label>Category</label>
        <select name="CategoryID" class="form-control">
            @foreach (var category in Model)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select> <br />
    </div>
    <div class="form-group">
        <label>Name</label>
        <input name="Name" class="form-control" /> <br />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input name="Description" class="form-control" /> <br />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input name="Price" class="form-control" /> <br />
    </div>
    @*<button type="submit" class="btn btn-primary">Submit</button>*@
    <button type="button" id="btnSubmit" class="btn btn-primary">Save</button>
</form>




<script>
    $("#btnSubmit").click(function () {
        $.ajax({
            url: "/Product/AddProduct",
            data: $("#frmAddProduct").serialize(),
            type:"POST"
        })
            .done(
            function (response) {
                alert(response);
                $("#tableContainer").html(response);
                $("#actionContainer").html('');
                })
            .fail(function (data) {
                alert("fail...");
            });

    });
</script>