﻿@model Promptkart.Entities.Product

@{
    ViewBag.Title = "DeleteProduct";
}

<h2>DeleteProduct</h2>

<form method="post">

    <h3>Are you sure you want to delete this product</h3>
    <input type="submit" />

</form>

<a href="~/index">Cancel</a>