﻿@model List<Promptkart.Entities.Product>

@{
    ViewBag.Title = "Index";
}



<div class="container">
    <h2>Index</h2>

    <div id="tableContainer">

        @{Html.RenderAction("ProductTable");
            //Html.RenderAction("AddProduct");
        }
    </div>
    <hr />
    <div id="actionContainer">

    </div>
</div>