﻿@* // Namespace added in the web config of the view(close and reopen view to effect)*@
@model List<Product>

@{
    ViewBag.Title = "ProductTable";
}

<h2>ProductTable</h2>
<div>
    <form method="post" action="/Product/ProductTable">
        <div class="form-group">
            <label>Search</label>
            <input type="text" name="txtSearch" id="txtSearch" class="form-control" />
        </div>
    </form>
    <button type="button" id="btnSearch">Search</button>
    <button id="btnNew">New</button>

    @*<div class="form-group">
        <label>Search</label>
        <input type="text" name="txtSearch" id="txtSearch" class="form-control" />
    </div>
    <button type="button" id="btnSearch">Search</button>*@


</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    Product Name
                </td>
                <td>Category</td>
                <td>Price</td>
                <td>Description</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>
                    @if (m.Category != null)
                    {
                        <text> @m.Category.Name </text>
                    }
                    else
                    {
                        <text>*</text>
                    }
                    </td>
                    <td>@m.Price</td>
                    <td>@m.Description</td>
                    <td>
                        <button type="button" class="btnEdit" data-id="@m.Id">Edit</button>
                        <button type="button" class="btnDelete" data-id="@m.Id">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
   
    $("#btnSearch").click(function () {
        var searchValue = $("#txtSearch").val();

        $.ajax({
            url: "/Product/ProductTable",
            data: { strSearch: searchValue }
        })
            .done(
            function (response) {
                $("#tableContainer").html(response);
                })
            .fail(function (data) {
                alert("fail...");
            });

    });

    $("#btnNew").click(function () {
        $.ajax({
            url: "/Product/AddProduct"           
        })
            .done(
                function (response) {
                    $("#actionContainer").html(response);
                })
            .fail(function (data) {
                alert("fail...");
            });

    });

    $(".btnEdit").click(function () {
        
        $.ajax({
            url: "/Product/UpdateProduct",
            data:{
                id: $(this).attr('data-id')
            }
        })
            .done(
                function (response) {
                    $("#actionContainer").html(response);
                })
            .fail(function (data) {
                alert("fail...");
            });

    });

    $(".btnDelete").click(function () {

        var confirmDelete = confirm("Are you sure you want to delete");

        if (confirmDelete) {

            $.ajax({
                type:"POST",
                url: "/Product/DeleteProduct",
                data: {
                    id: $(this).attr('data-id')
                }
            })
                .done(
                    function (response) {
                        $("#tableContainer").html(response);
                    })
                .fail(function (data) {
                    alert("fail...");
                });
        }

    });
   
</script>