﻿@model Promptkart.Entities.Product

@{
    ViewBag.Title = "UpdateProduct";
}

<h2>UpdateProduct</h2>

<form id="frmUpdateProduct">
    <input type="hidden" name="Id" value="@Model.Id"  /> <br />
    <label>Name</label>
    <input type="text" name="Name" value="@Model.Name" /> <br />
    <label>Description</label>
    <input type="text" name="Description" value="@Model.Description" /> <br />
    <label>Price</label>
    <input type="text" name="Price" value="@Model.Price" /> <br />
    @*<label>Category</label>
        <input type="text" name="Category" value="@Model.Category" /> <br />*@
    <input type="button" value="Update" id="btnUpdate" />
</form>

<script>
    $("#btnUpdate").click(function () {
        $.ajax({
            url: "/Product/UpdateProduct",
            data: $("#frmUpdateProduct").serialize(),
            type:"POST"
        })
            .done(
            function (response) {
                alert(response);
                $("#tableContainer").html(response);
                $("#actionContainer").html('');
                })
            .fail(function (data) {
                alert("fail...");
            });

    });
</script>