﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form method="post">
    <label>Name</label>
    <input name="Name" />
    <br />
    <label>Description</label>
    <input name="Description" />
    <br />
    <input id="ImageURL" name="ImageURL" type="hidden" />
    <label>Image</label>
    <input name="Image" id="imgUpload" type="file" accept=".png,.jpg" />
    <br />
    <img id="prvImg" />
    @*<input type="submit" />*@
    <button type="submit">submit</button>
</form>

<script>
    $(document).ready(function () {        
        $("#imgUpload").change(function () {
           // debugger;
            var element = this;
            var formData = new FormData();
            var totalFiles = element.files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = element.files[i];
                formData.append("Photo", file);
            }

            $.ajax({
                url: "/Shared/UploadImage",
                data: formData,
                type: "POST",
                dataType: "json",
                contentType: false,
                processData: false
            })
                .done(function (response) {
                    debugger;
                    $("#ImageURL").attr('value', response.ImageURL);
                    $("#prvImg").attr('src', response.ImageURL);
                    })
                .fail(function (response) {
                    debugger;
                    alert("failsds...");
                });


        });
    });
</script>