﻿@model Promptkart.Entities.Category

@{
    ViewBag.Title = "EditCategory";
}

<h2>EditCategory</h2>

<form method="post">
    <h5>Are you sure you want to delete this id..</h5>
    <input type="submit" value="Yes" />
</form>

<a href="/index">Cancel</a>