﻿@model Promptkart.Entities.Category

@{
    ViewBag.Title = "EditCategory";
}

<h2>EditCategory</h2>

<form method="post">
    <label>Name</label>
    <input name="Name" value="@Model.Name"/>
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description"/>
    <br />
    <input type="submit" />
</form>

